$aboutHeadlineColor: #a50000;


.homeAboutStyle{

    width:55%;
    margin: 0 auto;
    
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;

}

.homeAboutStyle .aboutHeadline{

    color:$aboutHeadlineColor;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 10px;
} 

.homeAboutStyle .homeAboutContent{
    justify-content: space-between;
    padding-bottom: 30px;
}

.homeAboutStyle .homeAboutContent div{
    width:32%;
}


.homeAboutStyle .homeAboutContent div div{
    width:100%;
}