.adminStyle {
    padding-top:100px;
    background-color: rgb(224, 224, 224);
    min-height: 80vh;
    padding-bottom: 30px;
}

.adminStyle .adminHeadline {
    width:55%;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 52px;
}