.editAboutStyle {
    font-family: 'Oswald', sans-serif;
    padding:50px;
    background-color: #f7f0e6;
}

.editAboutStyle form{}

.editAboutStyle form input{
    display: block;
    width:100%;
    padding:10px;
    font-size: 18px;
}

.editAboutStyle .sectionheadline{
    font-size: 24px;
    color: #a50000;
    margin: 20px 0;
}

.editAboutStyle .sectionsDeler {
border-top: 2px solid black;
margin:  20px 0;    
}

.editAboutStyle .sectionsDeler .aboutBeskriver {
    margin-bottom: 10px;
    margin-top: 50px;
}

.editAboutStyle .sectionsDeler .aboutSaveButton {
    padding:20px;
    width:150px;
    background-color: #e6ddd3;
    border-radius: 20px;
    cursor: pointer;
    margin-top:10px;
}
